 <!--===================================FOOTER============================== -->
 <footer class=" pt-5 pb-5">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <h5 class="mb-3 lang" key="About Us">ABOUT US</h5>
              <p class="lang" key="main-para">Li Europan lingues es membres del sam familie. Lor separat
                  existentie es un myth. Por scientie,
                  r. Li lingues differe solmen</p>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <h5 class="mb-3 lang" key="related-links">RELATED LINKS</h5>
              <ul>
                  <div>
                      <i class="fas fa-chevron-right "></i>
                      <li class="lang d-inline-block" key="stat1-p"> Lorem Ipsum</li>
                  </div>
                  <div>
                      <i class="fas fa-chevron-right"></i>
                      <li class="lang d-inline-block" key="stat1-p"> Lorem Ipsum</li>
                  </div>
                  <div>
                      <i class="fas fa-chevron-right "></i>
                      <li class="lang d-inline-block" key="stat1-p"> Lorem Ipsum</li>
                  </div>
                  <div>
                      <i class="fas fa-chevron-right"></i>
                      <li class="lang d-inline-block" key="stat1-p"> Lorem Ipsum</li>
                  </div>
                  <div>
                      <i class="fas fa-chevron-right"></i>
                      <li class="lang d-inline-block" key="stat1-p"> Lorem Ipsum</li>
                  </div>
              </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <h5 class="mb-3 lang" key="NEWS&MEDIA">NEWS&MEDIA</h5>
              <ul>
                  <div>
                      <i class="fas fa-chevron-right "></i>
                      <li class="lang d-inline-block" key="stat1-p"> Lorem Ipsum</li>
                  </div>
                  <div>
                      <i class="fas fa-chevron-right"></i>
                      <li class="lang d-inline-block" key="stat1-p"> Lorem Ipsum</li>
                  </div>
                  <div>
                      <i class="fas fa-chevron-right "></i>
                      <li class="lang d-inline-block" key="stat1-p"> Lorem Ipsum</li>
                  </div>
                  <div>
                      <i class="fas fa-chevron-right"></i>
                      <li class="lang d-inline-block" key="stat1-p"> Lorem Ipsum</li>
                  </div>
                  <div>
                      <i class="fas fa-chevron-right"></i>
                      <li class="lang d-inline-block" key="stat1-p"> Lorem Ipsum</li>
                  </div>
              </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <h5 class="mb-3 lang" key="touch">GET IN TOUTCH</h5>
              <p class="lang" key="get-in-totch">Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry.
              </p>
              <div class="contact">
                  <i class="fas fa-map-marker-alt"></i>
                  <span class="lang" key="location">84 street ,city,state 24587</span>
              </div>
              <div class="contact">
                  <i class="fas fa-phone"></i>
                  <span>+00(123)458 69 34</span>
              </div>
              <div class="contact">
                  <i class="far fa-envelope"></i>
                  <span>raniamagdy95@gmail.com</span>
              </div>
          </div>
      </div>
  </div>
</footer>
<!--===================================COPY RIGHT============================== -->
<section class="copy-right pt-4 pb-4">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center text-white">
              <p>Made with <i class="fas fa-heart mr-1"></i>by RANIA ZAYED.net All Rights Reserved</p>
          </div>
      </div>
  </div>
</section>
