.count{
    position: absolute;
    top:-11%;
    right: 12%;
    color: red;
}
.position-relative{
    position: relative;
}
.btn{
    background-color: #f96332;
    color: white;
    border-width: 2px;
    font-weight: 400;
    font-size: 0.8571em;
    line-height: 1.35em;
    margin: 10px 1px;
    border: none;
    border-radius: 0.1875rem;
    padding: 11px 22px;
    cursor: pointer;
}