<app-navbar></app-navbar>
<div class="header text-center pt-4 text-primary">
  <h1>Register form</h1>
</div>
<div class="container justify-content-center mb-5">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" formControlName="email" class="form-control">
          <span *ngIf="!signupForm.get('email').valid &&signupForm.get('email').touched" class="grey">
            <!-- <span *ngIf="signupForm.get('email').errors.required"> -->
              this is field is required
            <!-- </span> -->
            <span *ngIf="signupForm.get('email').errors['validationError']&& !signupForm.get('email').errors.required">
              email is in correct
            </span>
          </span>
        </div>
        <div class="form-group mb-4">
          <label for="password">Password</label>
          <input type="text" formControlName="password" class="form-control">
          <span *ngIf="!signupForm.get('password').valid&&signupForm.get('password').touched" class="grey">
            <span *ngIf="signupForm.get('password').errors.minlength">
              password shoud be more than 6 chars
            </span>
            <span *ngIf="signupForm.get('password').errors.maxlength">
              password shoud be less than 12chars
            </span>
            <span *ngIf="signupForm.get('password').errors['passworderror']">
              password is in correct
            </span>

            <span *ngIf="signupForm.get('password').errors.required">
              this is field is required
              <span
                *ngIf="signupForm.get('password').value!==null&&signupForm.get('password').errors['passworderror']&&!signupForm.get('password').errors.required">
                password is in correct
              </span>
            </span>

          </span>
        </div>
        <!-- CONFIRM PASSWORD -->
        <div class="form-group mb-4">
          <label for="password">Confirm Password</label>
          <input type="text" formControlName="confirmPassword" class="form-control">
          <span *ngIf="!signupForm.get('confirmPassword').valid&&signupForm.get('confirmPassword').touched"
            class="grey">

            <span *ngIf="signupForm.get('confirmPassword').errors.required">
              this is field is required
              <span
                *ngIf="signupForm.get('confirmPassword').value!==null&&signupForm.get('confirmPassword').value!==signupForm.get('password').value">
                password is in correct
              </span>
            </span>

          </span>
        </div>
        <div class="form-group mb-4">

          <input type="file" (change)="onFileSelected($event)" maxFileSize="200000">
          <small>(optional)</small>
          <!-- <button (click)="upload()">upload</button> -->
            <!-- <p-fileUpload name="myfile[]"
            accept="image/*" maxFileSize="200000"></p-fileUpload> -->


        </div>

        <button type="submit" class="btn">sign up</button>

      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>