<app-header></app-header>
<div class="container">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Your Address" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Your Phone"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Your Email">{{checkoutUser}}</textarea>
    </mat-form-field>
    <button type="submit" class="btn">submit</button>
  </form>
</div>
<app-footer></app-footer>